<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_ranga</title>
    <link rel="stylesheet" href="~/node_modules/fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/E_ranga.css" asp-append-version="true" />
</head>
<body style="background-color: #fefbf6; color:#3b4357; padding:60px;">
    <header>
       <nav class="navbar navbar-expand-lg navbar-light" style="padding: 0px 30px;color:#3b4357 !important;">
  <a class="navbar-brand" href="#">E RANGA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" asp-controller="Document" asp-action="Create">Post a document</a>
      </li>
      <li class="nav-item" style="right: 0;
    position: absolute;
    top: 0;
    padding:0;
    color: #ccc">
        <a class="nav-link" href="#">Admin</a>
      </li>
    </ul>
    
  </div>
</nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="
    bottom: 0;
    position: fixed;
    text-align: center;
    left: 0;
    padding: 40px;
    width: 100%;">
        <div class="container">
            &copy; 2023 - E_ranga@group2
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
