@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_ranga</title>
    <link rel="stylesheet" href="~/node_modules/fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/E_ranga.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
</head>
<body style="background-color: #fefbf6; color:#3b4357; padding:60px;">
    <header>
  <nav class="navbar navbar-expand-lg navbar-light" style="top:0;color:#3b4357 !important;">
  <a class="navbar-brand" asp-controller="Home" asp-action="Index">E RANGA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
  @if(@Context.Session.GetString("email") != null)
    {
        <li class="nav-item">
        <a class="nav-link" asp-controller="User" asp-action="Dashboard"> Documents Management</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" asp-controller="User" asp-action="UserM"> Users Management</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" asp-controller="User" asp-action="Logout"><i class="fa-solid fa-circle-user"></i>  Logout </a>
      </li>
}else{
      <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Create">Post a document</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="ViewDocument">Find Document</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Login"><i class="fa-solid fa-circle-user"></i>  Login </a>
      </li>
        }
    </ul>
    
  </div>
</nav>
    </header>
    <div class="container min-vh-100">
     @if(TempData["success"] != null){
       <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert">
             @TempData["success"]
  <i class="fas fa-times" style="float: right; cursor:pointer;" onclick="myFunction()"></i>
   </div>
     }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - E_ranga@group2
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
      function myFunction() {
      document.getElementById("alert").style.display="none";
}
    </script>
    <script>
    $(document).ready(function () {
    $('#example').DataTable();
});
</script>
</body>
</html>
