@{
    ViewData["Title"] = "Home Page";
}

 <div class="text-center"> 
   <h1 class="display-4"> Welcome to E-ranga platform</h1>
  <form class="example" action="#" autocomplete="off">
  <div class="search">
    <input type="text" class="search-input" placeholder="Search.." name="search">
   <i class="fas fa-search"></i>
  </div>
</form>
  
  </div>
<div class="grid-container">
   <div class="item2">
    <img src="~/images/eranga.png"/>
    <div style="margin-top: 10px;"><a class="btn"  asp-controller="Document" asp-action="Create">Post document</a>
    <a class="btn" style="background-color: #f0f8ff;">Search  document</a></div>
  </div>  
  <div class="item3">
     <p>
Have you found a document that doesn't belong to you and don't know how to return it to its rightful owner? Or have you lost an important document and want to see if someone has found it and posted it online? We understand the importance of documents and how difficult it can be to lose or find them, that's why we created this platform to help you.

Our platform allows you to post information about the document you found, such as its type, description, and where and when it was found. The one who lost it can search our platform using keywords, location, and other relevant information to see if their lost document has been found and posted.

By using our platform, you can help reunite people with their important documents and avoid the hassle of contacting multiple organizations or individuals. We hope that this platform will be a valuable resource for you and others who have found or lost important documents.
   </p>
  </div>
 
 
</div>
