@model E_ranga.Models.UserLogin
@{
    ViewData["Title"] = "Login Page";
}
<div class="container justify-content-center align-items-center">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow">
                @Html.ValidationSummary(true, "", new { @class = "text-danger text-center" })
                <div class="card-body">
                    <h2 class="text-center mb-3">Login</h2>
                    <form asp-action="Login" method="post">
                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                         <div style="padding: 10px 0 10px 0;">
                             <button type="submit" class="btn btn-lg btn-primary" style="float:right;">Login</button>
                             <a asp-controller="Home" asp-action="Index" style="float:left;" class="btn btn-lg btn-secondary">Back to home page</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
