.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
  line-height: 30px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main main main"
    "menu main main main main main";
  gap: 10px;
  box-shadow: 0 0 10px #ddd;
  padding: 18px;
}
.grid-container > div {
  text-align: center;
  font-size: 20px;
}

.display-4 {
  font-size: 47px;
  padding-bottom: 25px;
}
.search-input {
  border-bottom: 1px solid #eee;
  height: 43px;
  padding: 20px;
  border: none;
  outline: none;
  width: 100%;
}
.search {
  position: relative;
  width: 100%;
}
.search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -30px;
  color: #999;
}